<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
	<div class="login-content">

	<!-- Logo -->
	<div padding-horizontal text-center class="animated fadeInDown">
		<div><img src="assets/img/pmn.png"></div>
		<h2 ion-text class="text-primary">
			<small></small>
		</h2>
	</div>

	<!-- Login form -->
	<form class="list-form" [formGroup]="loginForm" (ngSubmit)="logForm()">
		<ion-item>
			<ion-label floating>
				<ion-icon name="mail" item-start class="text-primary"></ion-icon>Email
			</ion-label>
			<ion-input type="email" formControlName="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>
				<ion-icon name="lock" item-start class="text-primary"></ion-icon>Password
			</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		</ion-item>
	</form>

	<!-- <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p> -->
	<br/>
	
	<div>
		<!-- <button ion-button full (click)="logForm()" [disabled]="!loginForm.valid">Login</button> -->
		<button ion-button full (click)="logForm()">Login</button>
	</div>


	<!-- Other links -->
	<!-- <div text-center margin-top>
	  <span ion-text color="secondary" tappable (click)="register()">New here? <strong>Sign up</strong></span>
	</div> -->

	</div>
</ion-content>
