<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Barcode Scanner</strong>
		</ion-title>
		<ion-buttons end>
			<button ion-button tappable (click)="presentNotifications($event)">
				<ion-icon name="notifications"></ion-icon>
			</button>
			<button ion-button tappable (click)="goToAccount()">
				<ion-icon name="cog"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<label>Scan Barcode Tray package</label>
	<!-- <form class="list-form" [formGroup]="barcodeForm">
		<ion-list>
			<ion-item>
					<ion-input type="text" formControlName="num"></ion-input>
			</ion-item>
			</ion-list>
	</form> -->
	<ion-item text-wrap>
		<button ion-button small full (click)="scan()">Scan Barcode</button>
	</ion-item>
	
	<div id="map_canvas"></div>
</ion-content>